* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

:root {
}

.colorMe {
  height: 50px;
  width: 50px;
  background: red;
}

.colored {
  background: blue;
}

.testButton {
  height: 30px;
}